

.mv-img img{
  height: 350px;
  object-fit: cover;
}
.movie-img img{
  min-height: 400px;
  object-fit: cover;
}
.movie-item-style-1 img {
    object-fit: cover;
    height: 100%;
}
.scroll-btn.right,.scroll-btn.left {
  display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    height: 34px;
    font-size: 13px;
    text-align: center;
}
.movie-items .movie-item .mv-img {
    position: relative;
    min-width: 200px;
}
.movie-item-style-1 img {
    min-height: 300px;
     object-fit: cover;
}
.slick-slide div .item{
  cursor: pointer;
  display: flex;
}
.item-video{
      /* max-width: 100%;
    vertical-align: top; */
    height: 100%;
}
.user-information .user-img img {
    height: 90px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

